<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="tn.esprit.test">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Test">
        <activity
            android:name=".BMIActivity"
            android:exported="true" />
        <activity
            android:name=".BellyFat3"
            android:exported="true" />
        <activity
            android:name=".BellyFat2"
            android:exported="true" />
        <activity
            android:name=".BellyFat1"
            android:exported="true" />
        <activity
            android:name=".FifthActivity"
            android:exported="true" />
        <activity
            android:name=".FourthActivity"
            android:exported="true" />
        <activity
            android:name=".ThirdActivity"
            android:exported="true" />
        <activity
            android:name=".SecondActivity"
            android:exported="true" />
        <activity
            android:name=".Abs5"
            android:exported="true" />
        <activity
            android:name=".Abs4"
            android:exported="true" />
        <activity
            android:name=".Abs3"
            android:exported="true" />
        <activity
            android:name=".Abs2"
            android:exported="true" />
        <activity
            android:name=".BellyFat5"
            android:exported="true" />
        <activity
            android:name=".BellyFat4"
            android:exported="true" />
        <activity
            android:name=".WorkOutEnd"
            android:exported="true" />
        <activity
            android:name=".ChooseActivity"
            android:exported="true" />
        <activity
            android:name=".HomeActivity"
            android:exported="true" />
        <activity android:name=".EventEditActivity" />
        <activity android:name=".WeekViewActivity" />
        <activity android:name=".MainCalendarActivity" />
        <activity android:name=".NoteActivity" />
        <activity android:name=".NoteDetailActivity" />
        <activity
            android:name=".Abs1"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>